@import url(boxicons/css/boxicons.css);





.show-mobile{display: none !important;}
.active{
    display: block !important;
}

button i{
    font-size: xx-large;
}
.is-red{
    color: red;
}




@media only screen and (max-width: 768px) {
   

    .hide-mobile{
        display: none !important;
    }

    
    .show-mobile{
        display: block !important;
    }
    
	
}